nav {
  display: flex;
  justify-content: space-between;
  height: 5em;
  align-items: center;
  margin: 20px 300px;

  .botones {
    a {
      color: #6c757d;
      text-decoration: none;
      padding: 10px 20px;
      transition: 0.5s all ease;
    }
    a:hover {
      color: #fff;
      background: #d90429;
      border-radius: 5px;
    }
  }
}
